* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 1100px;
  margin: 30 auto;
}

/* register and login page */

form {
  display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 flex-direction: column;
 background: #f1f1f1;
 text-align: center;
 text-align: center;

}

form input {
  display: block;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;

}

input[type=submit]{
  margin-top: 1rem;
  background: rgb(36, 100, 119);
  color: #f1f1f1;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
  display: block;
}

.success{
  background: green;
  color: #fff;
  padding: 10px 20px ;
  display: block;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1rem;
}

.error{
  color: red;
  display: block;
  text-align: center;
}


/* header navbar */
header{
  background: #f1f1f1;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 2rem;
}

header h1{
  color: #637BFF;

}


header nav ul {
  display: flex;
  list-style: none;
}


nav ul li a {
  text-decoration: none;
  margin: 1rem;
  color: #78909C;
  
}

 .user a{
  color: #21C8F6;
}